.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;;
}
@media () {

}
.App-link {
  color: #61dafb;
}
h1 {
  font-size: 50px;
  border-bottom-color: 'black',
}
p {
  font-size: 15px;
}
h4 {
  font-size: 25px;
}
.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

